[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/.ohmyzsh"]
	path = zsh/.ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/.ohmyzsh-custom/themes/powerlevel10k"]
	path = zsh/.ohmyzsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.ohmyzsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.ohmyzsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
